# This will be used as default EditorConfig for repos that don't have their own.
# It's saved automatically as you type.
# You can find docs at http://editorconfig.org

root = true

[*.java]
indent_style = space
tab_width = 4
