[submodule "modules/telestion-mavlink/mavlink"]
	path = modules/telestion-mavlink/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "plugins/telestion-space/telestion-plugin-daedalus2"]
	path = plugins/telestion-space/telestion-plugin-daedalus2
	url = https://github.com/TelestionGroup/telestion-plugin-daedalus2.git